.list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  height: fit-content;
  width: fit-content;
  min-height: 50px;
  min-width: 362px;
  border-radius: var(--card-border-radius);
  background-color: var(--card-color);


  &__input{
    outline: none;
    border: none;
    padding: 0 10px;
    width: 100%;
    height: 40px;
    border-radius: var(--card-border-radius);
    box-shadow: inset 0 0 0 2px #0079bf; // TODO: Delete duplicate
  }

  &__title{
    font-weight: 500;
    cursor: pointer;
  }

  &__more{
    color: var(--text-color-second);
    cursor: pointer;
  }
}
