<div
  *ngIf="list"
  class="list"
  cdkDrag
>
  <div class="list__header header" cdkDragHandle>
    <span
      *ngIf="!isAdding"
      class="header__title"
      (click)="onEditClicked()"
    >{{list.title}}</span>
    <input
      blueInput
      *ngIf="isAdding"
      [value]="list.title"
      class="header__input"
      (blur)="onInputBlur(editInput.value)"
      (keyup)="onEnterClicked($event, editInput.value)"
      #editInput>
    <button class="header__more" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onEditClicked()">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="onDeleteClicked()">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </div>
  <ng-container
    *ngIf="tasks$ | async as tasks"
  >
    <div
      cdkDropList
      [cdkDropListData]="tasks"
      [cdkDropListConnectedTo]="dragDropService.dropLists"
      [cdkDropListEnterPredicate]="allowDropPredicate"
      (cdkDropListDropped)="drop($event)"
      class="list__tasks-wrapper tasks-wrapper"
      [attr.data-id]="list.id"
    >
      <app-card
        *ngFor="let task of tasks; trackBy: trackTask"
        [task]="task"
        [tasks]="tasks"
        class="task"
      ></app-card>
    </div>
    <app-add-card [listId]="list.id" [tasks]="tasks"></app-add-card>
  </ng-container>
</div>
