.card {
  display: flex;
  flex-direction: column;
  gap: 10px;

  background-color: var(--card-color);
  width: var(--card-width);
  height: fit-content;
  min-height: var(--card-height);
  padding: 20px;
  border-radius: var(--card-border-radius);

  &__text {
    white-space: pre-line;
  }

  &__owner {
    padding-top: 16px;
    opacity: 0.4;
  }

  &__owner-input {
    height: 50px;
    padding: 0 10px;
  }

  &__text-textarea {
    overflow: hidden;
  }
}

.top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  &__edit-button, &__cancel-button {
    opacity: 0.3;
  }

  &__edit-button:hover, &__cancel-button:hover {
    opacity: 1;
  }
}

.cdk-drag-preview {
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.priority-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.card:last-child {
  border: none;
}

.list__tasks-wrapper.cdk-drop-list-dragging .card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

