.card {
  display: flex;
  flex-direction: column;

  background-color: var(--card-color);
  width: var(--card-width);
  height: fit-content;
  min-height: var(--card-height);
  padding: 20px;
  border-radius: var(--card-border-radius);

  &__text {
    padding-top: 10px;
    white-space: pre-line;
  }

  &__owner{
    padding-top: 26px;
    opacity: 0.4;
  }
}
