.card {
  display: flex;
  flex-direction: column;

  background-color: var(--card-color);
  width: var(--card-width);
  height: fit-content;
  min-height: var(--card-height);
  padding: 20px;
  border-radius: var(--card-border-radius);

  &__priority {
    width: 60px;
    height: 8px;
    border-radius: 4px;
    background-color: var(--orange-priority);
  }

  &__text {
    padding-top: 10px;
  }

  &__owner{
    padding-top: 26px;
    opacity: 0.4;
  }
}
