.add-list {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--card-width);
  height: calc(var(--card-height) - 110px);
  border: 2px dashed var(--card-color);
  border-radius: var(--card-border-radius);
  cursor: pointer;

  &__text {
    user-select: none;
  }
}

.add-list:hover {
  background-color: var(--card-hover);
}
