.add-list {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--card-width);
  height: calc(var(--card-height) - 110px);
  border: 2px dashed var(--card-color);
  border-radius: var(--card-border-radius);
  cursor: pointer;

  &__text {
    user-select: none;
  }

  &__input{
    outline: none;
    border: none;
    padding: 0 10px;
    width: 95%;
    height: 50px;
    box-shadow: inset 0 0 0 2px #0079bf;
    border-radius: var(--card-border-radius);
  }

  &__add-button{
    background-color: #0079bf;
    color: white !important;
    align-self: flex-start;
  }
}

.add-mod{
  flex-direction: column;
  gap: 10px;
  border: none;
  background-color: var(--card-color);
  height: fit-content;
  padding: 10px 20px;
  transition: 85ms ease-in-out;

}

.add-list--is-idle:hover {
  background-color: var(--card-hover);
}

// transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;
