<div
  class="add-list"
  [class.add-list--is-idle]="!isAddMod"
  [class.add-mod]="isAddMod"
  (click)="onAddListClicked()"
>
  <ng-template [ngIf]="!isAddMod">
    <span class="add-list__text">+ Add new list</span>
  </ng-template>
  <ng-template [ngIf]="isAddMod">
    <input class="add-list__input" placeholder="Type List Name" #nameInput>
    <div class="add-list__buttons buttons">
      <button mat-button class="buttons__add-button" (click)="onAddClicked($event,nameInput.value)">Add</button>
      <mat-icon class="buttons__cancel-button cancel-button--hover" (click)="onCancleCliked($event)">highlight_off</mat-icon>
    </div>
  </ng-template>
</div>
