.main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  height: 100vh;
  overflow: hidden;

  &__board{
    flex-grow: 1;
    position: relative;
  }
}
